/******************************** HEADER******************/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  display: flex;
  justify-content: space-around;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04aa6d;
}
.navigation {
  display: flex;
  align-items: center; /* Alignement vertical des éléments */
}

.search-bar {
  margin-left: 25%; /* Place le groupe de recherche et le bouton à droite */
}

.barre-recherche {
  width: 300px; /* Ajuster la largeur de la barre de recherche selon vos besoins */
  padding: 5px; /* Ajuster le padding selon vos besoins */
  border: 1px solid #ccc; /* Style de la bordure */
  border-radius: 10px; /* Style de la bordure arrondie */
  margin-right: 8px; /* Marge entre la barre de recherche et le bouton */
}

button {
  padding: 3px 8px; /* Ajuster le padding selon vos besoins */
  background-color: #04aa6d; /* Couleur de fond du bouton */
  color: white; /* Couleur du texte du bouton */
  border: none; /* Supprimer la bordure */
  border-radius: 5px; /* Style de la bordure arrondie */
  cursor: pointer; /* Afficher un curseur pointer au survol */
}
body {
  margin: 0;
}
/************************* MAIN**************************/

.card {
  border: black solid 4px;
  text-align: center;
  cursor: pointer;
  padding: 20px;
}

.card__gallery {
  overflow: scroll;
  scrollbar-width: none;
  flex-direction: row;
  display: flex;
  gap: 1.5rem;
  padding: 17px;
  padding-left: 23px;
}

.card:hover {
  transform: scale(1.1);
}

.titre__h1 {
  font-size: 2rem;
  margin: 0;
  margin-top: 30px;
  margin-left: 25px;
}
