/******************************** HEADER******************/
.navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #6e6666;
  display: flex;
  justify-content: space-around;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #04aa6d;
}

.active {
  background-color: #04aa6d;
}
.navigation {
  display: flex;
  align-items: center; /* Alignement vertical des éléments */
}

.search-bar {
  margin-left: 25%; /* Place le groupe de recherche et le bouton à droite */
}

.barre-recherche {
  width: 300px; /* Ajuster la largeur de la barre de recherche selon vos besoins */
  padding: 5px; /* Ajuster le padding selon vos besoins */
  border: 1px solid #ccc; /* Style de la bordure */
  border-radius: 10px; /* Style de la bordure arrondie */
  margin-right: 8px; /* Marge entre la barre de recherche et le bouton */
}

button {
  padding: 3px 8px; /* Ajuster le padding selon vos besoins */
  background-color: #04aa6d; /* Couleur de fond du bouton */
  color: white; /* Couleur du texte du bouton */
  border: none; /* Supprimer la bordure */
  border-radius: 5px; /* Style de la bordure arrondie */
  cursor: pointer; /* Afficher un curseur pointer au survol */
}
body {
  margin: 0;
}
.logo {
  width: 30px;
  height: 30px;
}
/************************* MAIN**************************/

.card {
  border: black solid 4px;
  text-align: center;
  cursor: pointer;
  padding: 20px;
}

.card__gallery {
  overflow: scroll;
  scrollbar-width: none;
  flex-direction: row;
  display: flex;
  gap: 1.5rem;
  padding: 17px;
  padding-left: 23px;
}
.card__series {
  overflow: scroll;
  scrollbar-width: none;
  flex-direction: row;
  display: flex;
  gap: 1.5rem;
  padding: 17px;
  padding-left: 23px;
}
.card:hover {
  transform: scale(1.1);
}

.titre__h1 {
  font-size: 2rem;
  margin: 0;
  margin-top: 30px;
  margin-left: 25px;
}

/*******************************FOOTER******************************/
.footer {
  background: #000;
  padding: 30px 0px;
  font-family: "Play", sans-serif;
  text-align: center;
}

.footer .row {
  width: 100%;
  margin: 1% 0%;
  padding: 0.6% 0%;
  color: gray;
  font-size: 0.8em;
}

.footer .row a {
  text-decoration: none;
  color: gray;
  transition: 0.5s;
}

.footer .row a:hover {
  color: #fff;
}

.footer .row ul {
  width: 100%;
}

.footer .row ul li {
  display: inline-block;
  margin: 0px 30px;
}

.footer .row a i {
  font-size: 2em;
  margin: 0% 1%;
}

@media (max-width: 720px) {
  .footer {
    text-align: left;
    padding: 5%;
  }
  .footer .row ul li {
    display: block;
    margin: 10px 0px;
    text-align: left;
  }
  .footer .row a i {
    margin: 0% 3%;
  }
}
