.montserrat-alternates-bold {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.montserrat-alternates-extrabold {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.montserrat-alternates-medium-italic {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 500;
  font-style: italic;
}
.patrick-hand-regular {
  font-family: "Patrick Hand", cursive;
  font-weight: 400;
  font-style: normal;
}

/******************************** HEADER******************/
.navigation {
  list-style-type: none;
  margin: 0;
  width: 100%;

  overflow: hidden;
  background-color: #fecc00;
  display: flex;
  justify-content: space-around;
}

li {
  float: left;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: larger;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  text-decoration: underline;
}

.navigation {
  display: flex;
  align-items: center; /* Alignement vertical des éléments */
}

.search-bar {
  margin-left: 25%; /* Place le groupe de recherche et le bouton à droite */
}

body {
  margin: 0;
  background-color: #303030;
}
.logoAccueil {
  width: 60px;
  height: 60px;
}
.logo {
  width: 60px;
  height: 60px;
  border-left: 1px solid black; /* Couleur et épaisseur de la bordure */
  padding-left: 5px; /* Espace entre l'image et la bordure */
}
/************************* MAIN**************************/

.card {
  /* border: black solid 4px; */
  text-align: center;
  cursor: pointer;
  padding: 20px;
  position: relative;
}

.card__gallery {
  overflow: scroll;
  scrollbar-width: none;
  flex-direction: row;
  display: flex;
  gap: 1.5rem;
  padding: 17px;
  padding-left: 23px;
  color: white;
}
.card__series {
  overflow: scroll;
  color: white;
  scrollbar-width: none;
  flex-direction: row;
  display: flex;
  gap: 1.5rem;
  padding: 17px;
  padding-left: 23px;
}
.card:hover {
  transform: scale(1.1);
}
.card:hover .details {
  display: block;
}

.details {
  display: none;
  position: absolute;
  top: 0; /* Position à partir du haut de la carte parente */
  left: 0;
  width: 87%;
  height: 66%; /* Position à partir de la gauche de la carte parente */
  /* Fait correspondre la hauteur à celle de la carte parente */
  transform: translate(5%, 6%);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px;
  text-align: center;
  z-index: 1;
}

h2 {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 500;
  font-style: italic;
  font-size: large;
}
.titre__h1 {
  font-size: 2rem;
  color: white;
  margin: 0;
  margin-top: 30px;
  margin-left: 25px;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 700;
  font-style: normal;
}

/*******************************FOOTER******************************/
.footer {
  background: black;
  padding: 30px 0px;
  font-family: "Play", sans-serif;
  text-align: center;
}

.footer .row {
  width: 100%;
  margin: 1% 0%;
  padding: 0.6% 0%;
  color: gray;
  font-size: 0.8em;
}

.footer .row a {
  text-decoration: none;
  color: gray;
  transition: 0.5s;
}

.footer .row .liens:hover {
  color: #fff;
  background-color: #fecc00;
}

.footer .row ul {
  width: 100%;
}

.footer .row ul li {
  display: inline-block;
  margin: 0px 30px;
}

.footer .row a i {
  font-size: 2em;
  margin: 0% 1%;
}

@media (max-width: 720px) {
  .footer {
    text-align: left;
    padding: 5%;
  }
  .footer .row ul li {
    display: block;
    margin: 10px 0px;
    text-align: left;
  }
  .footer .row a i {
    margin: 0% 3%;
  }
}
